<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/health.ico">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
	}	
	.container {
	color:black;
	text-align:left;
    }
    </style>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand mr-4" href="/">Diagnostic Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/heart">Heart<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/diabetes">Diabetes</a>
            </li>
            <li class="nav-item active">	
              <a class="nav-link" href="/liver">Liver</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Mask-->
	  <br>
	  <br>
		<div class = "container">
				<h2><b>Diagnostic Tool<b></h2>
				<br>
				<p>This application helps one to check whether a person needs to consult a doctor or not based on his/her condition.
				Right now this application supports one to check Heart, Liver or Diabetes related conditions. </p>
				<br>
				<br>
				<h4><b>How to Use<b></h4>
				<p>1. Navigate to the health condition that one wants to check<br>
				2. Enter the required details<br>
				3. Click Submit<br>
				4. Based on the entered values,a machine learning algorithm will run in the background and suggest whether the person needs to consult a Physician or not.
				</p>
				
		</div>
</div>

	
</header>
</body>